*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-delete {
    width: 20px;
    transition: transform .2s;
}

.image-delete:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.btn-confirm-order button{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
}

.btn-confirm-order button:last-child{
    background-color: #2d8356;
    color: white;
}

.btn-confirm-order button:last-child:hover{
    background-color: #55a37b;
    color: white;
}


.btn-confirm-order button:first-child:hover{
    background-color: red;
    color: white;
}

.header-cart {
    border-bottom: 1px solid #2d8356;
    height: 40px;
    margin-bottom: 10px;
}
.cart-container {
    width: 100% !important;
}

.image-cart {
    width: 100px;
    margin: 0 auto !important;
}

.btn-all-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #2d8356;
    height: 70px;
}

.btn-all-info > button {
    width: 150px;
    height: 40px;
    background-color: #2d8356;
    color: aliceblue;
    border: none;
}

.btn-all-info > button:hover {
    background-color: #55a37b;
}

.btn-left button {
    width: 150px;
    height: 40px;
    background-color: #2d8356;
    color: aliceblue;
    border: none;
    margin-left: 5px;
}

.btn-left button:hover {
    background-color: #55a37b;
}

.all-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}

.all-price button {
    width: 150px;
    height: 40px;
    background-color: #2d8356;
    color: aliceblue;
    border: none;
    margin-left: 5px;
}

.all-price button a {
    text-decoration: none;
    color: aliceblue;
}