*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-delete {
    width: 20px;
    transition: transform .2s;
}


.image-delete:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
@media only screen and (max-width: 769px) {
    .cart-container{
        font-size: 12px;
    }
}
@media only screen and (max-width: 610px) {
    .cart-container{
        font-size: 12px;
    }
    .image-cart {
        width: 50px !important;
    }
    .btn-all-info button {
        width: 100px !important;
    }
    
}

@media only screen and (max-width: 410px) {
    .table-scroll{
        overflow-x: scroll !important;
    }
}

.btn-confirm-order button{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
}

.btn-confirm-order button:last-child{
    background-color: #2d8356;
    color: white;
}

.pagination-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    border-radius: none;
    margin: 0;
}

.pagination-cart li {
    list-style: none;
}

.btn-confirm-order button:last-child:hover{
    background-color: #55a37b;
    color: white;
}

.normal {
    color: #2d8356;
}
.btn-confirm-order button:first-child:hover{
    background-color: red;
    color: white;
}

.cart-info {
    display: flex;
    flex-direction: column;
}

.header-cart {
    border-bottom: 1px solid #2d8356;
    height: 40px;
    margin-bottom: 10px;
}
.cart-container {
    width: 100% !important;
}

.image-cart {
    width: 60px;
    margin: 0 auto !important;
}

.btn-all-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #2d8356;
    height: 70px;
}

.btn-all-info > button {
    width: 150px;
    height: 40px;
    background-color: #2d8356;
    color: aliceblue;
    border: none;
}

.btn-all-info > button:hover {
    background-color: #55a37b;
}

.btn-left button {
    width: 150px;
    height: 40px;
    background-color: #2d8356;
    color: aliceblue;
    border: none;
    margin-left: 5px;
}

@media only screen and (max-width: 610px) {
    .btn-left {
        display: flex;
        flex-direction: column;
    }

    .btn-left button {
        width: 150px !important;
        height: 40px;
        background-color: #2d8356;
        color: aliceblue;
        border: none;
        margin-bottom: 5px;
        
    }
    .pay-info-table {
        width: 100% !important;
    }
    .btn-all-info button {
        width:  150px !important;
    }
}

.btn-left button:hover {
    background-color: #55a37b;
}

.all-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}

.all-price button {
    width: 150px;
    height: 40px;
    background-color: #2d8356;
    color: aliceblue;
    border: none;
    margin-left: 5px;
}

.all-price button a {
    text-decoration: none;
    color: aliceblue;
}

.btn-checkbox-all {
    display: block;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-checkbox-all > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(189, 186, 186);
}

.btn-checkbox-all:hover input ~ .checkmark {
background-color: #ccc;
}

.btn-checkbox-all > input:checked ~ .checkmark {
background-color: #2d8356;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.btn-checkbox-all > input:checked ~ .checkmark:after {
display: block;
}

.btn-checkbox-all .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}