.footer-content {
    background-color: #252525;
}

.footer-logo {
    width: 250px ;
}

.footer-logo img {
    width: 250px;
    margin-bottom: 30px;
}

.footer-item {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px 0px;
}

@media only screen and (max-width: 1450px) {
    .footer-item {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 50px 0px 0px;
    }
    .footer-logo {
        width: 100% !important;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 30px;
    }
    .footer-logo ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90% !important;
        margin-left: 0 !important;

    }

    .policy ul {
        display: flex;
        flex-direction: row;
        width: 100% !important;
        justify-content: space-around;
        

    }
    .policy {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1450px) {
    .footer-logo{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 640px) {
    .footer-logo ul{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 0 !important;
    }
    .footer-logo ul li:first-child p {
        width: 100% !important;
    }
}

.icon-logo-footer {
    width: 30px;
    height: 30px;
    background-color: #252525;
    border-radius: 25px;
    border: 3px solid #fff1a6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo ul li:first-child p {
    width: 175px;
}

.footer-logo ul li p {
    color: white;
    padding-left: 15px;
    font-size: 13px;
    margin: 0;

}

.footer-logo ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.policy > ul {
    list-style-type: square;
}

.policy h5 {
    color: #2d8356;
    margin-bottom: 30px;

}

.policy > ul > li > a {
    color: white;
}

.policy > ul > li > a:hover {
    color: #2d8356;
    text-decoration: none;
}
.policy ul li {
    height: 40px;
}

.footer-map h5 {
    color: #2d8356;
    margin-bottom: 30px;
}

.footer-map a img {
    width: 280px;
}

@media only screen and (max-width: 669px) {
    .footer-map a img {
        width: 200px;
    }
    .fanpage > a img {
        width: 200px !important;
    }
}

@media only screen and (max-width: 550px) {
    .footer-map a img {
        width: 150px;
    }
    .fanpage > a img {
        width: 150px !important;
    }

    .policy > ul > li {
        font-size: 12px;
    }
}

@media only screen and (max-width: 490px) {
    .footer-map a img {
        width: 130px;
    }
    .fanpage > a img {
        width: 130px !important;
    }
}


.fanpage h5 {
    color: #2d8356;
    margin-bottom: 30px;
}

.fanpage a img {
    width: 300px;
}

.footer-end {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.footer-end p {
    color: white;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
}