.history-container {
    width: 100%;
}

.history-header {
    border-bottom: 1px solid gray;
}

.history-item-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.btn-show-confirm-cancel {
    border-radius: 5px;
    width: 120px;
    border: none;
}

.btn-show-confirm-cancel:hover{
    background-color: red;
    color: aliceblue;
}

.btn-confirm-cancel button {
    width: 120px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}

.btn-confirm-cancel button:last-child:hover{
    background-color: #2d8356;
    color: white;
}

.btn-confirm-cancel button:first-child:hover{
    background-color: red;
    color: white;
}

.children-info-buy button {
    width: 80px;
    border-radius: 5px;
    background-color: #2d8356;
    border: none;
    color: white;
}

.children-info-buy button:hover {
    background-color: #05783c;
}

@media only screen and (max-width: 520px) {
.history-item p span:last-child{
    margin-left: 0 !important;
}
}

.history-item-children{
    border-bottom: 1px solid #2d8356;
    display: flex;
}

.children img {
    width: 80px;
    height: 110px;
    margin-right: 10px;
}

.children-info p {
    margin: 0;
    font-size: 13px;
}

.children {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left:10px
}