.seling-home-perfume {
    width: 800px;
    margin-left: 30px;
    margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
    .seling-home-perfume{
        width: 100% !important;
        margin: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .home-perfume-image {
        width: 170px !important;
        height: 180px !important;
    }
}

@media only screen and (max-width: 769px) {
    .home-perfume-image {
        width: 140px !important;
        height: 150px !important;
    }

    .home-perfume-item > p {
        font-size: 13px;
    }

    .price > p {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 480px) {
    .home-perfume-image {
        width: 110px !important;
        height: 120px !important;
    }

    .home-perfume-item > p {
        font-size: 12px;
    }

    .price > p {
        font-size: 12px !important;
    }
    .btn-content button {
        width: 70px !important;
        height: 30px !important;
        font-size: 9px !important;
    }
    .btn-content > button a {
        font-size: 9px !important;
    }
   
}

.seling-home-perfume h4 {
    height: 40px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
}

.btn-children {
    position: absolute;
    top: 35px;
    bottom: 10%;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.btn-contents {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display:flex;
    flex-direction: column;
}

.btn-contents button {
    width: 110px;
    height: 40px;
    background-color: #363636;
    color: white;
    margin: 5px;
    font-size: 13px;
    border: none;
}

.btn-contents button a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.btn-contents button:hover {
    background-color:#2d8356;
}


.home-perfume-detail img {
    width: 220px;
    height: 250px;
    margin: 0 auto;
}

.home-perfume-detail {
    position: relative;
}

.home-perfume-detail:hover .home-perfume-image {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.5
}
  
.home-perfume-detail:hover .btn-children {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.home-perfume-item {
    width: 230px;
    margin-top: 30px;
    position: relative;
}

.home-perfume-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #2d8356;
}

.btn-prev-next button {
    width: 20px;
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
}

.btn-prev-next button > i:hover {
    color: #2d8356;
    opacity: 1;
}

.btn-prev-next {
    display: flex;
    flex-direction: row;
}

.btn-prev-next button > i {
    font-size: 25px;
    color: gray;
    opacity: 0.5;
}

.home-perfume-content {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}

.btn-see-all > button {
    width: 100px;
    height: 40px;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #2d8356;
    color: #2d8356;
}

.btn-see-all {
    margin: 0 auto;
    width: 150px;
}

