
.header-detail p {
    border-bottom: 1px solid #2d8356;
    height: 40px;
}

.perfume-detail {
    padding: 0;
}

.icon-click-image {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    margin-top: 30px;
    width: 250px;
    justify-content: space-between;
}


.content-detail {
    padding: 40px 50px;
    display: flex;
    flex-direction: row;
}

.content-detail-image > img {
    width: 180px;
    height: 450px;
}

.list-image-show > img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.list-image-show > img {
    width: 70px !important;
    height: 90px;
    transition: transform .2s;
    border: 1px solid black;
}

.content-detail img {
    width: 350px;
}

.buy-info {
    width: 100%;
    margin-left: 100px;
}


.buy-info h2{
    margin-bottom: 20px;
    border-bottom: 1px solid #2d8356;
    width:  100%;
    height: auto;
    font-size: 25px;

}

.capacity-info {
    width:  250px;
    height: 50px;
    border: 1px solid;
    text-align: center;
    margin-bottom: 30px;
    background-color: red;
    color: aliceblue;
}

.capacity-info p {
    margin: 0;
}

.amount-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.amount-form input {
    width: 100px;
}

.amount-form-btn {
    display: flex;
    flex-direction: column;
    width: 30px;
}

.amount {
    margin-bottom: 50px;
}

.cart-shop {
    width: 200px;
    height: 50px;
    background-color: #2d8356;
    color: aliceblue;
    margin-left: 50px;
    border: none;
}

.sale-disable {
    color: rgb(179, 178, 178);
    text-decoration: line-through;
}