.sidebar {
  width: 280px;
  margin-bottom: 20px;
}
.active {
  background-color: #2d8356;
  color: black;
}

.sidebar-width-reponsive{
  display: none;
}

@media only screen and (max-width: 1200px){
  .sidebar-width-reponsive {
    display: inline !important;
  }
  .sidebar {
    display: none;
  }
  .sidebar-content-item {
    display: none;
  }
  .sidebar-content {
    width: 100% !important;
    height: 395px;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
  }
}

.sidebar-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: #2d8356;
}

.sidebar-content-item {
  margin-top: 20px;
}

.sidebar-title h5 {
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
}

.bi-list {
  margin-left: 15px;
  margin-right: 15px;
}

.sidebar-content {
  width: 280px;
  height: 395px;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}


/* Style the links inside the navigation bar */
.sidebar-content a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.sidebar-content a:hover {
  background-color: #ddd;
  color: black;
}




/* width */
.sidebar-content::-webkit-scrollbar {
  width: 10px;

}
  
  /* Track */
.sidebar-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background-color: gray;
}
   
  /* Handle */
.sidebar-content::-webkit-scrollbar-thumb {
  background: #2d8356; 
  border-radius: 10px;
}
  
  /* Handle on hover */
.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 82, 82); 
}